@tailwind base;
@tailwind components;
@tailwind utilities;

/* BG */
.background {
position: absolute;
width: 1216px;
height: 832px;
left: 112px;
top: 96px;

background: #FFFFFF;
border: 6px solid #C9AAAA;
box-shadow: 0px 16px 40px rgba(109, 141, 173, 0.15);
border-radius: 25px;
}

/* BG-color */
.background-color {
position: absolute;
width: 1024px;
height: 836px;
left: 306px;
top: 94px;

background: #E5DACB;
border-radius: 0px 25px 25px 0px;
}

/* grafico 

position: absolute;
width: 466px;
height: 548px;
left: 852px;
top: 353px;
}

/* grafico_principal 
position: absolute;
width: 466px;
height: 548px;
left: 852px;
top: 353px;

/* grafico-fondo 
position: absolute;
width: 448px;
height: 525px;
left: 861px;
top: 366px;
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(175, 137, 255, 0.15);
border-radius: 15px;

/* mask 
position: absolute;
height: 548px;
left: 852px;
right: 122px;
top: 353px;

background: #FFFFFF;

/* graphic mask 
position: absolute;
width: 448px;
height: 328px;
left: 861px;
top: 582px;

/* fondo-hoy 
position: absolute;
height: 328px;
left: 861px;
right: 131px;
top: 582px;
background: linear-gradient(90.03deg, #3751FF 22.43%, rgba(55, 81, 255, 0.618321) 51.96%, rgba(55, 81, 255, 0) 90.55%);
opacity: 0.1;

/* grafico-ayer
position: absolute;
height: 143px;
left: 861px;
right: 131px;
top: 629px;

border: 2px solid #757787;

/* grafico-hoy 
position: absolute;
height: 227px;
left: 861px;
right: 131px;
top: 582px;

/* accent / default
border: 2px solid #3751FF;

/* puntero 
position: absolute;
width: 52.82px;
height: 74px;
left: 1138.93px;
top: 583px;

/* circle_pointer
position: absolute;
width: 19.21px;
height: 24px;
right: 265.05px;
top: 633px;
opacity: 0.16;

/* accent / default 
border: 2px solid #3751FF;

/* circle_pointer 1
box-sizing: border-box;
position: absolute;
width: 11.2px;
height: 14px;
right: 269.05px;
top: 638px;

/* grayscale / white
background: #FFFFFF;
/* accent / default 
border: 4px solid #3751FF;
box-shadow: 0px 1px 2px rgba(55, 81, 255, 0.2);
/* value 
position: absolute;
width: 52.82px;
height: 38px;
right: 248.24px;
top: 583px;

/* sheet 
position: absolute;
width: 51px;
height: 35.87px;
left: 1px;
top: 1px;
/* grayscale / white 
background: #FFFFFF;
border: 0.5px solid #C9C3C3;
/* graphic valut shadow
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
/* rect 
position: absolute;
left: 1px;
right: 0.82px;
top: 1px;
bottom: 7px;
/* grayscale / white
background: #FFFFFF;
border-radius: 4px;
/* triangle 
position: absolute;
width: 14px;
height: 6px;
left: calc(50% - 14px/2 - 0.41px);
bottom: 1px;

/* grayscale / white
background: #FFFFFF;
/* pointer value 
position: absolute;
left: 13px;
right: 12.82px;
top: 8px;
bottom: 14px;

/* Semibold 14 (0.2 px)
font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* or 143% 
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2px;

/* grayscale / black 
color: #252733;

/* Tendencias de hoy 

position: absolute;
width: 400px;
height: 27px;
left: 889px;
top: 392px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height 
letter-spacing: 0.4px;

/* grayscale / black 
color: #252733;

/* fecha 

position: absolute;
width: 139px;
height: 16px;
left: 889px;
top: 422px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% 
letter-spacing: 0.1px;
/* grayscale / gray 
color: #9FA2B4;

/* Hoy 
position: absolute;
width: 40.93px;
height: 16px;
right: 254px;
top: 422px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1px;
/* grayscale / gray 
color: #9FA2B4;

/* Ayer 
position: absolute;
width: 66px;
height: 16px;
right: 156px;
top: 422px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.1px;
/* grayscale / gray 
color: #9FA2B4;


/* Filtros */

.filtros {
position: absolute;
width: 496px;
height: 525px;
left: 337px;
top: 366px;
}

/* resultados-filtro */
.resultados-filtro {
position: absolute;
width: 496px;
height: 344px;
left: 337px;
top: 547px;
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(175, 137, 255, 0.15);
border-radius: 15px;
}

/* filtros */
.filtros-recuadro {
position: absolute;
width: 496px;
height: 153px;
left: 337px;
top: 366px;
background: #FFFFFF;
box-shadow: 0px 2px 10px rgba(175, 137, 255, 0.15);
border-radius: 15px;
}

/* Clientes */
.filtros-opciones {
position: absolute;
height: 20px;
left: 394px;
right: 981px;
top: calc(50% - 20px/2 - 59px);
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #252733;

/* checkbox-clientes
position: absolute;
width: 20px;
height: 20px;
left: 364px;
top: calc(50% - 20px/2 - 59px);

/* checkbox-ventas
position: absolute;
width: 20px;
height: 20px;
left: 500px;
top: calc(50% - 20px/2 - 59px);*/
}

/* boton-ver */
.boton-ver {
position: absolute;
width: 54px;
height: 24px;
right: 645px;
top: calc(50% - 24px/2 - 61px);
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: #E9936E;
border-radius: 8px;
}

/* texto del boton ver*/
.boton-ver-texto {
height: 14px;
left: 12px;
right: 12px;
top: calc(50% - 14px/2);
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.5px;
text-transform: uppercase;
/* grayscale / white */
color: #FFFFFF;
}

/* Actividades */
.actividades {
position: absolute;
width: 108px;
height: 27px;
left: 354px;
top: 379px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
color: #000000;
}

/* Ventas-dashboard */
.ventas-dashboard {
position: absolute;
width: 984.32px;
height: 129.36px;
left: 333.68px;
top: 218px;
}

/* recuadro-ventas-enviadas */
.recuadro-ventas-enviadas{
position: absolute;
width: 304px;
height: 120px;
left: 337px;
top: 218px;
background: linear-gradient(98.86deg, #6BAAFC 0%, #305FEC 100%);
box-shadow: 0px 2px 10px rgba(175, 137, 255, 0.15);
border-radius: 15px;
}

/* recuadro-ventas-pendientes */
.recuadro-ventas-pendientes{
position: absolute;
width: 304px;
height: 120px;
left: 669px;
top: 218px;
background: linear-gradient(98.86deg, #EF5E7A 0%, #D35385 100%);
box-shadow: 0px 2px 10px rgba(175, 137, 255, 0.15);
border-radius: 15px;
}

/* recuadro-nuevas-ventas */
.recuadro-nuevas-ventas {
position: absolute;
width: 304px;
height: 120px;
left: 1001px;
top: 218px;
background: linear-gradient(98.86deg, #D623FE 0%, #A530F2 100%);
box-shadow: 0px 2px 10px rgba(175, 137, 255, 0.15);
border-radius: 15px;
}

/* iconos de recuadros de ventas */
.icono-ventas {
    position: absolute;
    left: 23.17%;
    right: 70.8%;
    top: 27.89%;
    bottom: 65.87%;
    background: rgba(255, 255, 255, 0.13);
    transform: rotate(-16.98deg);
    }

/* Números de recuadros de ventas */
.stats-ventas {
position: absolute;
height: 90px;
left: 1124px;
right: 122px;
top: 243px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 90px;
/* identical to box height */
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
}

/* Títulos de recuadros de ventas */
.titulo-ventas {
position: absolute;
width: 139px;
height: 27px;
left: 1035px;
top: 239px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */
color: #FFFFFF;
}


/* asistencia-tecnica */
.asistencia-tecnica {
position: absolute;
width: 145px;
height: 248px;
left: 138px;
top: 636px;
}

/* titulo-asistencia */
.titulo-asistencia{
position: absolute;
width: 145px;
height: 20px;
left: 138px;
top: 636px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
color: #000000;
}

/* texto-consulta */
.texto-consulta {
position: absolute;
width: 138px;
height: 80px;
left: 138px;
top: 669px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #776C6C;
}

/* texto-servicio */
.texto-servicio {
position: absolute;
width: 138px;
height: 32px;
left: 139px;
top: 852px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #B9B9B9;
}

/* Soporte técnico */
.soporte-tecnico {
position: absolute;
width: 145px;
height: 40px;
left: 138px;
top: 762px;
}

/* boton-soporte */
.boton-soporte {
position: absolute;
width: 145px;
height: 40px;
left: 138px;
top: 762px;
background: #E9936E;
border-radius: 8px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
color: #201D1C;
}

/* icono-soporte */
.icono-soporte {
position: absolute;
width: 20px;
height: 18px;
left: 149px;
top: 773px;
}


/* Sidebar */
.sidebar{
position: absolute;
width: 152px;
height: 392.6px;
left: 131px;
top: 198px;
}

/* Menú sidebar */
.sidebar-texto {
position: absolute;
width: 79px;
height: 21px;
left: 182px;
top: 208px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: rgba(0, 0, 0, 0.8);
}


/* Vectores del sidebar */
.icono-sidebar {
position: absolute;
left: 9.86%;
right: 88.89%;
top: 20.41%;
bottom: 77.83%;
background: rgba(0, 0, 0, 0.8);
}


/* Ventas */
.ventas-sidebar{
position: absolute;
width: 50px;
height: 21px;
left: 182px;
top: 280px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #B24C20;
}


/* ganancias-totales */
.encabezado{
position: absolute;
width: 301px;
height: 63px;
left: 336px;
top: 123px;
}

/* Ganancias totales */
.encabezado-texto {
position: absolute;
width: 147px;
height: 24px;
left: 336px;
top: 123px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000;
}

.encabezado-nro {
position: absolute;
width: 165px;
height: 42px;
left: 336px;
top: 144px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 42px;
color: #000000;
}


/* busqueda */
.busqueda {
position: absolute;
width: 395px;
height: 40px;
left: 669px;
top: 140px;
background: #FFFFFF;
box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #D2D2D2;
}

/* Icono de lupa en búsqueda */
.icono-busqueda {
position: absolute;
left: 47.64%;
right: 50.97%;
top: 14.84%;
bottom: 83.2%;
background: #D2D2D2;
}


/* usuario */
.panel-usuario {
position: absolute;
width: 191px;
height: 50px;
left: 1106px;
top: 133px;
}
/* usuario-img */
.usuario-img{
position: absolute;
width: 50px;
height: 50px;
left: 1247px;
top: 133px;
background: url(.jpg), #C4C4C4;
}

/* icono-notificaciones */
.icono-notif {
position: absolute;
width: 24px;
height: 22.5px;
left: 1181px;
top: 149px;
position: absolute;
left: 0%;
right: 6.73%;
top: 2.59%;
bottom: 0%;
background: #E9936E;
}


/* icono-mensaje */
.icono-msje {
position: absolute;
width: 25.51px;
height: 27px;
left: 1106px;
top: 150px;
position: absolute;
left: 0%;
right: 5.93%;
top: 11.11%;
bottom: 0%;
background: #E9936E;
}


/* desconexion */
.desconexion {
position: absolute;
width: 50px;
height: 50px;
left: 180px;
top: 116px;
}
/* desconexion-icono */
.icono-desconexion {
position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 8.33%;
background: #000000;
}